setuptools==36.5.0
redis==2.10.6
cleo==0.6.1
cmndr==1.0.5
dependency_injector==3.6.1
filelock==2.0.12
Flask==0.12.2
flask_oauthlib==0.9.4
flask_restplus==0.10.1
gunicorn==19.7.1
jsonpickle==0.9.5
salt==2017.7.1
PyYAML==3.12
